<%- include('./partials/header')-%>
<%- include('./partials/navbar')-%>

<div class="container displayContainer">
    <div class="row text-center">
            <div class="col-lg-2 offset-lg-3 col-md-4 offset-md-2 col-6 displayEl">

                    <ul>
                        <li>
                            <h5 class="customerLastName"></h5>
                        </li>
                        <li>
                            <h5 class="customerFirstName"></h5>
                        </li>

                    </ul>
                    <a href="" class="detailsBtn" id="customerDetails"><button class="btn btn-primary">Voir la fiche client</button></a>
            </div>
    </div>
</div>
    <!-- FIRST NAME LAST NAME -->
    <div class="row">
        <div class="col-6 offset-3">
            <div class="input-group mb-3 mt-3">
                <div class="input-group">
                    <input type="text" class="form-control" id="addLastName" placeholder="NOM">
                    <input type="text" class="form-control" id="addFirstName"  placeholder="Prénom">
                    <button class="btn btn-outline-secondary" type="button" id="btnAddName">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container displayNewCustomer">
    <div id="displayNewCustomerId">

    </div>
</div>




























<%- include('./partials/footer')-%>